@import "fonts.css";

.inner-container{
    font-family: "Poppins", sans-serif;
}

#title-container{
    font-size: 26px;
}

#title-container .title-username{
    font-size: 27px;
    font-weight: bold;
}
