html{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    display: grid;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    grid-template: 25% 50% 25%/ 25% 50% 25%;
    flex: 1 0 100%;
    height: 100%;
}